 <form name="addPost" class="addPost" action="/add" method="post">

    <div class="addPost_card">

      <label for="name" class="form-label">Название:</label>

      <input class="input" required="required" type="text" name="postName" placeholder="name..." />

    </div>

    <div class="addPost_card">

      <label for="examplePassword" class="form-label">Категория:</label>

      <input class="input" required="required" type="text" name="categoryName" placeholder="name..." />

    </div>

    <div class="addPost_card">

      <label for="name" class="form-label">Ссылка на картинку:</label>

      <input class="input" required type="text" name="img" placeholder="вставьте ссылку..." />

    </div>
     <div class="addPost_card">

      <label for="name" class="form-label">Описание поста:</label>

      <input class="input" required="required" type="text" name="description" placeholder="описание..." />

    </div>

    <button class="addPost_button" type="submit">Добавить</button>

  </form>
